<h1>Create a summary for: <%= @post.title %></h1>

<%#= form_for [@post, @summary] do |f| %>
<%= form_for [@post, @summary] do |f| %>

	<div class="col-md-6" >
		<div class="form-group">
			<%= f.label :body %>
			<%= f.text_area :body, class: "form-control", rows: 6, placeholder: "Enter Body", autofocus: true %>
		</div>

		<div class="form-group">
			<%= f.submit class: "btn btn-default" %>
		</div>
	</div>

<% end %>

