
	<%= content_tag :div, class: 'media', id: "comment-#{comment.id}" do %>
	
		<%= link_to '#', class: 'pull-left' do %>
			<%= image_tag(comment.user.avatar.tiny.url) if comment.user.avatar? %>
		<% end %>

		<div class="media-body">
			<small>
				<%= comment.user.name %> commented <%= time_ago_in_words(comment.created_at) %> ago
				<% if policy(comment).destroy? %>
					 <%#= link_to "Delete Comment", topic_post_comment_path(@topic, @post, comment), method: :delete  %>
					<%#= link_to "Delete Comment", post_comment_path(@post, comment), method: :delete %>
					 <%#= link_to "Delete Comment", post_comment_path(comment.post, comment), method: :delete %> <!-- OK to use -->
					   <%= link_to "Delete Comment", [comment.post, comment], method: :delete %>
					 <%# raise %>
				<% end %>
			</small>
		</div>
		
		<p><%= comment.body %></p>

	<% end %>







