<%#= form_for @topic do |f| %>
<%= form_for topic do |f| %>

	<% if topic.errors.any? %> 
		<div class="alert alert-danger">
			<h4>There are <%= pluralize topic.errors.count, "error" %> creating this topic:</h4>
			<% topic.errors.full_messages.each do |msg| %>
				<ul>
					<li><%= msg %></li>
				</ul>
			<% end %>
		</div>
	<% end %>

		<!-- <div class="form-group"> -->
		<%#= form_group_tagg() do  %>
		<%= form_group_tag(topic.errors) do %>
			<%= f.label :name %>
			<%= f.text_field :name, class: "form-control", placeholder: "Enter Title", autofocus: true %>
		<% end %>
		<!-- </div> -->

		<div class="form-group">
 			<%= f.label :description %>
			<%= f.text_area :description, rows: 5, class: "form-control", placeholder: "Enter Body" %>
		</div>

		<div class="form-group">
			<%= f.submit class: "btn btn-default" %>
		</div>

<% end %>

	