<h1><%= @topic.name %></h1>

<%= link_to "Edit Topic", edit_topic_path, class: 'btn btn-default' if policy(@topic).update? %>

<div class="row">
	<div class="col-md-8">
		<p class="lead"><%= @topic.description %></p>
		<% @posts.each do |post| %>
		 	<div class="media">
		    	<div class="media-body">
		       		<h4 class="media-heading"> 
						<%#= link_to post.title, [@topic, post] %>
						<%= link_to markdown_to_html(post.title), topic_post_path(@topic, post) %>
					</h4>
		       		<p>
		       			<%= image_tag(post.user.avatar.small) if post.user.avatar? %>
		       			&nbsp;&nbsp;submitted <%= time_ago_in_words post.created_at %> ago
		         		&nbsp;&nbsp;by <%= post.user.name %>
		         		&nbsp;&nbsp;<%= pluralize post.comments.count, "Comment" %>
		       		</p>			
				</div>
			</div>
		<% end %>
	</div>
	<div class="col-md-4">
		<% if policy(Post.new).create? %>
			<%= link_to "New Post", new_topic_post_path(@topic), class: 'btn btn-default' %> 
		<% end %>
	</div>
</div>


