<nav class="navbar navbar-default">
  <div class="container-fluid">


    <ul class="nav navbar-nav">
      <li class="<%= active?(root_path) %>">
        <%= link_to "Home", root_path %>
      </li>
      <li class="<%#= active?(posts_path) %>">
      <li class="<%= active?(topics_path) %>">
        <%= link_to "Bloccit", topics_path %>
      </li>      
      <li class="<%= active?(about_path) %>">
        <%= link_to "About", about_path %>
      </li>
    </ul>

    <!-- <ul class="nav navbar-nav navbar-right"> -->
    <ul class="nav navbar-nav pull-right"><!-- better (user-info no change)-->
       <% if current_user %>
          <%= image_tag(current_user.avatar.small.url) if current_user.avatar? %>
          <!-- <a class="navbar-brand" href="#">Hello <%#= current_user.name %> -->
         Hello <%= link_to (current_user.name || current_user.email), edit_user_registration_path %>
        
       <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out" %>

       <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path, class: "glyphicon glyphicon-user" %></li>
        <li><%= link_to "Sign In", user_session_path, class: "glyphicon glyphicon-log-in" %></li>

      <% end %>
    </ul>

  </div>
</nav>


